################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StraightVanilla/StraightVanilla/StraightVanilla/obj
/StraightVanilla/StraightVanilla/StraightVanilla.Android/obj
/StraightVanilla/StraightVanilla/StraightVanilla.iOS/obj
/StraightVanilla/StraightVanilla/StraightVanilla/bin/Debug/netstandard2.0
/StraightVanilla/StraightVanilla/StraightVanilla.Android/bin/Debug
